{% extends 'base.twig' %}
{% block aside %}
    <ul>
        {% for element in livres %}
        <div class="{{element.titre}}">
        <h2>Titre : {{element.titre}} </h2>
        <h3>Auteur : {{element.auteur}}</h3>
        <p>Editeur : {{element.nom}}</p>
        <p>Prix : {{element.prix}}</p>
        <p>ISBN : {{element.isbn}}</p>
        <p>Résumé : {{element.resume}}</p>
        </div>
        {% endfor %}
    </ul>
    <h2> Ajout d'un auteur <h2>
    <form method="post" action="reception.php">
        <label for="nom">Nom de l'auteur: </label>
        <input type="text" name="nom" id="nom">
        <label for="prenom">prenom de l'auteur </label>
        <input type="text" name="prenom" id="prenom">
        <input type="submit">
    </form>
{% endblock aside %}

{% block main %}
{% endblock %}
