            {% extends "base.twig" %}

{% block main %}
            <section>
                <article>
                        <h3> Détail : {{categorie.nom_categorie}} </h3>
    {% for element in categorie %}

        <div class="psteN1">
            <p class ="psteN2">{{ element.nom_categorie }}</a></p>
            <p><img src="{{element.image_categorie}}" alt=""></p>
            <p>Categorie : {{ element.nom_categorie }} </p>
            
        </div>
        

        <div>
            <h2> Produit de la categorie : {{ element.nom_categorie }} </h2>
            <p class ="psteN2">{{ element.nom_produit }}</a></p>
            <img src="{{ element.image_produit }}" alt="">
            <p>Note : {{ element.note_produit }} </p>
            <p>Prix : {{ element.prix_produit }} </p>
        </div>

    {% endfor %}
                </article>
            {% endblock main %}

