{% extends "base.twig" %}

{% block main %}
            <section>
                    <article>

                        {% for genre in genre %}
        <div class="psteN1">
            <h1 class ="psteN2">{{ genre.nom_genre }}</a></h1>
            <p><img src="{{genre.image_genre}}" alt=""></p>
            <h3>Genre : {{genre.nom_genre}} </h3>
            <h5>{{genre.description_genre}}</h5>
            
        </div>
            {% endfor %}

    {% for element in genre %}
        

        <div>
            <h2> Produit de la categorie : {{element.nom_genre}} </h2>
            <p class ="psteN2">{{ element.nom_produit }}</a></p>
            <p> Référence : 000 {{id_genre}} {{id_categorie}} {{element.id_produit}}
            <a href ="produits_detail.php?id={{ element.id_produit }}"><img src ="{{ element.image_produit }}.jpg" alt =""></a>
            <p>Note : {{ element.note_produit }} </p>
            <p>Prix : {{ element.prix_produit }} € </p>
        </div>

    {% endfor %}
                </article>
            </section>

            {% endblock main %}

