{% extends "base.twig" %}
{% block main %}
    <body>
        <header>
            <div class="titre">
                <div>
                    <img class="logo" src="{{index.logo}}" alt="logo">
                    <h1> {{index.titre}} </h1>
                </div>
                <h5>{{index.soustitre}}</h5>
            </div>
            <nav>
            {% for item in nav %}
                <ul>
                    <li><a href="{{item.nav}}">{{item.nommenu}}</a></li>
                </ul>
                {% endfor %}
            </nav>

        </header>

        <main>

        </main>
{% block footer %}
{% endblock footer %}
    </body>
{% endblock main %}
