{% extends "base.twig" %}
{% block main %}


        <main>
        
            <h3> Produits Aléatoire : </h3>
            <div class ="randProd">
                        <ul>
            {% for element in produit %}

                    <div>
                    <li><a class "ignore" href="produits_detail.php?id={{ element.id_produit }}"><img src="{{element.image_produit}}.jpg"></a></li>
                    <p> Nom :{{element.nom_produit}} </p>
                    <p> Référence : 000 {{element.id_categorie}}  {{element.id_genre}}  {{element.id_produit}}
                    <p> Prix :{{element.prix_produit}}€ </p>
                    <p> Quantité : {{element.qte_produit}}</p>
                    <p> Note des utilisateurs :{{element.note_produit}}/5 </p>
                    </div>
                {% endfor %}
            </ul>
            </div>
        </main>
{% block footer %}
{% endblock footer %}
    </body>
{% endblock main %}
