{% extends "base.twig" %}

{% block main %}
<body>

    <div class="wrapper">

    {% for items in categorie %}

        <h2>{{items.titre}}</h2>
    {% for elements in categorie.formulaire %}
  
        <form action="{{elements.action}}">
            <div class="form-group">
                <label>{{ elements.nom }}</label>
                <input {{ elements.input }}>
                <span class="invalid-feedback">{{elements.invalid_feedback}}</span>
            </div>
    {% endfor %}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-secondary ml-2" value="Reset">
            </div>
        </form>
    {% endfor %}
    </div>    
</body>
{% endblock main %}