{% extends "base.twig" %}

{% block main %}
<!DOCTYPE html>
<body>
    <div class="wrapper">
        <h2>{{Login.login}}</h2>
        <p>{{Login.info}}</p>

        {{Login.phperr}}

        <form {{ Login.form }}>
            <div class="form-group">
                <label>Pseudo</label>
                <input type="text" name="pseudo_client" class="form-control <?php echo (!empty($username_err)) ? 'is-invalid' : ''; ?>" value="<?php echo $username; ?>">
                <span class="invalid-feedback">{{Login.username_err}}</span>
            </div>    
            <div class="form-group">
                <label>Mot de Passe</label>
                <input type="password" name="mdp" class="form-control <?php echo (!empty($password_err)) ? 'is-invalid' : ''; ?>">
                <span class="invalid-feedback">{{ Login.mdp_err }}</span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
            <p>Don't have an account? <a href="connexion.php">Sign up now</a>.</p>
        </form>
    </div>
</body>
{% endblock main %}

